// ==================================
// Typography
// ==================================
//
// Font, line-height, and color for body text, headings, and more.

$main-font: 'PT Sans', sans-serif; // Hind font family
$title-font: 'Georgia', serif;     // Title font family 


// Colors
$main-color: #ffffff;
$gold-color: #f2e9a6;

// Bg-Colors
$bg-main: #303031;
$bg-button: #461408;
	
// Spacer
$ver-center-block-height:														400px !default;


// ==================================
// Media queries breakpoints
// ==================================
//
//Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs-min:                											480px !default;

// Small screen / tablet
$screen-sm-min:                											768px !default;

// Medium screen / desktop
$screen-md-min:                											992px !default;

// Large screen / wide desktop
$screen-lg-min:                											1200px !default;

// Large scree / wider desktop
$screen-lg-med:                     								1260px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:             												($screen-sm-min - 1) !default;
$screen-sm-max:                											($screen-md-min - 1) !default;
$screen-md-max:                											($screen-lg-min - 1) !default;