/*------------------@MEDIA-------------------------*/

/*------------------@MEDIA-------------------------*/

@media only screen and (max-width: 1230px) {
	html {
		font-size: 16px;
	}
}

@media only screen and (max-width: 992px) {
	html {
		font-size: 14px;
	}
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 13px;
	}
}

@media only screen and (max-width: 480px) {
	html {
		font-size: 12px;
	}
}


/*------------------@MEDIA-END-------------------------*/


/*------------------@MEDIA-END-------------------------*/