/*------------------------------------------------------------------
  	[Text Colors]
------------------------------------------------------------------*/

.color-white { color: $main-color; }
.color-gold { color: $gold-color; }



/*------------------------------------------------------------------
  	[Background Colors]
------------------------------------------------------------------*/

.bg-color-base { background: $bg-main; }
