/*!--MARGIN-->*/

/*!-- top -->*/
.layout__mt-5 {
	margin-top: 5px;
}
.layout__mt-10 {
	margin-top: 10px;
}
.layout__mt-20 {
	margin-top: 20px;
}
.layout__mt-30 {
	margin-top: 30px;
}
.layout__mt-40 {
	margin-top: 40px;
}
.layout__mt-50 {
	margin-top: 50px;
}
.layout__mt-60 {
	margin-top: 60px;
}


/*!-- bottom -->*/
.layout__mb-5 {
	margin-bottom: 5px;
}
.layout__mb-10 {
	margin-bottom: 10px;
}
.layout__mb-20 {
	margin-bottom: 20px;
}
.layout__mb-30 {
	margin-bottom: 30px;
}
.layout__mb-40 {
	margin-bottom: 40px;
}
.layout__mb-50 {
	margin-bottom: 50px;
}
.layout__mb-60 {
	margin-bottom: 60px;
}

/*!-- right -->*/
.layout__mr-5 {
	margin-right: 5px;
}
.layout__mr-10 {
	margin-right: 10px;
}
.layout__mr-20 {
	margin-right: 20px;
}
.layout__mr-30 {
	margin-right: 30px;
}
.layout__mr-40 {
	margin-right: 40px;
}
.layout__mr-50 {
	margin-right: 50px;
}
.layout__mr-60 {
	margin-right: 60px;
}

/*!-- left -->*/
.layout__ml-5 {
	margin-left: 5px;
}
.layout__ml-10 {
	margin-left: 10px;
}
.layout__ml-20 {
	margin-left: 20px;
}
.layout__ml-30 {
	margin-left: 30px;
}
.layout__ml-40 {
	margin-left: 40px;
}
.layout__ml-50 {
	margin-left: 50px;
}
.layout__ml-60 {
	margin-left: 60px;
}

/*!-- vertical -->*/
.layout__mv-5 {
	margin-top: 5px;
		margin-bottom: 5px;
}
.layout__mv-10 {
	margin-top: 10px;
		margin-bottom: 10px;
}
.layout__mv-20 {
	margin-top: 20px;
		margin-bottom: 20px;
}
.layout__mv-30 {
	margin-top: 30px;
		margin-bottom: 30px;
}
.layout__mv-40 {
	margin-top: 40px;
		margin-bottom: 40px;
}
.layout__mv-50 {
	margin-top: 50px;
		margin-bottom: 50px;
}
.layout__mv-60 {
	margin-top: 60px;
		margin-bottom: 60px;
}

/*!-- horizontal -->*/
.layout__mh-5 {
	margin-right: 5px;
		margin-left: 5px;
}
.layout__mh-10 {
	margin-right: 10px;
		margin-left: 10px;
}
.layout__mh-20 {
	margin-right: 20px;
		margin-left: 20px;
}
.layout__mh-30 {
	margin-right: 30px;
		margin-left: 30px;
}
.layout__mh-40 {
	margin-right: 40px;
		margin-left: 40px;
}
.layout__mh-50 {
	margin-right: 50px;
		margin-left: 50px;
}
.layout__mh-60 {
	margin-right: 60px;
		margin-left: 60px;
}